<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Пары в аудиитории</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="\"> Расписание </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="\polls\">Все предметы</a></li>
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="\polls\rooms\">Все аудитории</a></li>
      </ul>
    </div>
  </div>
</nav>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  <style type="text/css">

    .wrap { 
     width: 75%;
     margin: 0 5% 0 auto;
    }

    .list-group{
    overflow-y: overlay;
    max-height: 500px;
    }
    
   </style>
<div class="wrap">
  <div class = "container mt-3">
    <h1>Все аудиотрии для предмета</h1>
    <div class = 'row'>
      {% for item in t_table %}
      <div class="card mb-3">
    <div class="card-header">
      {{ sub_name.name }} ({{sub_name.lecture_practice}})
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>{{item.weekday}} | {{item.time}} | {{ item.room }} </p>
      </blockquote>
    </div>
  </div>
      {% endfor %}
    </div>
  </div>
</div>

<style type="text/css">

   .Huinya {
    width: 15%;
    position: absolute;
    top: 95px;
    left: 15px;
}
.list-group-item.active {
    z-index: 2;
    color: var(--bs-list-group-active-color);
    background-color: #8cbbff;
    border-color: #8cbbff;
}

a {
    color: #191919;
    text-decoration: none;
}
 </style> 

<div class="Huinya">
  <h5>Список всех предметов</h5>
  <ul class="list-group">
    {% for item in subs %}
    {% if  item == sub_name %}
    <li class="list-group-item active" aria-current="true">
      {% if item.lecture_practice == "л/п" %}
      <a href="/polls/{{item.name|add:',,'|add:'1'}}" >{{item}}</a>
      {% else %}
      <a href="/polls/{{item.name|add:',,'|add:item.lecture_practice}}" >{{item}}</a>
      {% endif %}</li>
    {% else %}
    <li class="list-group-item">
      {% if item.lecture_practice == "л/п" %}
      <a href="/polls/{{item.name|add:',,'|add:'1'}}" >{{item}}</a>
      {% else %}
      <a href="/polls/{{item.name|add:',,'|add:item.lecture_practice}}">{{item}}</a>
      {% endif %}</li></li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

  </body>
</html>
